    .content {
        padding: 30px 20px !important;

        h2 {
            font-weight: normal;
            margin-bottom: 0px;
        }

        .actions {
            display: flex;
            justify-content: space-around;
            width: 200px;
            margin: auto;
        }
    }