<section class="company">
  <section class="section parallax bg1">
    <h1>Le projet, la cible et les objectifs d'Okastock</h1>
  </section>
  <section class="section blue static">
    <div class="content">
      <h2>Présentation d’ensemble du projet</h2>
      <br>
      <h3>Présentation de l'entreprise</h3>
      <p>Okastock est une plateforme de vente et achat de produits d’occasion à grand échelle dédiée aux
        entreprises.</p>
      <h3>Objectifs du site</h3>
      <p>Le site de Okastock est la seule plateforme qui propose un marketplace de vente de produits d’occasion
        uniquement aux entreprises (e-commmerce BtoB).</p>
      <h3>La cible</h3>
      <p class="mb-5">Okastock vise principalement les entreprises qui veulent vendre des produits d’occasion à grand
        échelle
        ainsi que les entreprises et particuliers qui veulent acheter des produits en grand quantité à un prix
        réduis.</p>
      <h2>Informations techniques</h2>
      <br>
      <h3>Technologies utilisées</h3>
      <p>Okastock est une application dénominée MEAN puisque l'application utilise
        Mongoose, Express, Angular et Node.JS. Cette
        application est une PWA (Progressive Web App) ce qui signifie que l’application est
        responsive et accessible depuis n’importe quel téléphone, tablette ou ordinateur.</p>
      <h3>Sécurisation et protection des accès aux données</h3>
      <p>De plus, de nombreuses mesures de sécurité on été implémentées comme par exemple le
        hachage du mot de passe ou sécurisation des routes et l’accès aux données grâce à JWT (Json
        Web Token)</p>
    </div>
  </section>
</section>