@import '../../../variables.scss';

img {
  border-radius: 4px;
  max-height: 490px;
  width: 100%;
  object-fit: contain;
}

.images {
  display: flex;
  height: 100%;
  margin-bottom: 20px;

  .focused {
    border: 2px solid $primary-theme;
    opacity: 1;
  }

  img {
    border-radius: 4px;
    object-fit: cover;
    margin-top: 10px;
    opacity: 0.6;
    transition: 0.3s;
    width: 50px;
    height: 50px;
    margin-right: 6px;

    &:hover {
      opacity: 1;
    }
  }
}