<section class="my-4">
  <div class="container mt-4">
    <h2>Conditions Générales de Vente de produits en ligne entre professionnels</h2>

    <h3>Préambule</h3>

    <p>Les présentes conditions générales de vente s'appliquent à toutes les ventes conclues sur le site
      Internet <b>Okastock</b>.
      Le site Internet <b>Okastock</b> est un service de :<br>
      · la société <b>Okastock</b>​​​​​​<br>
      · située 8, Place François II, Nantes 44200 (France)<br>
      · adresse du site : www.okastock.herokuapp.com<br>
      · adresse e-mail : husson.j@yahoo.com<br>
      · téléphone : +33685487966<br>
      Le site Internet <b>Okastock</b> commercialise les produits suivants : produits d'occasion.
      Le client déclare avoir pris connaissance et avoir accepté les conditions générales de vente antérieurement à la
      passation de sa commande. La validation de la commande vaut donc acceptation des conditions générales de vente.
    </p>

    <h4>Article 1 - Principes</h4>
    <p>Les présentes conditions générales expriment l'intégralité des obligations des parties. Elles constituent le
      socle unique de la relation commerciale entre les parties, et, en ce sens, l'acheteur est réputé les accepter sans
      réserve.
      Les présentes conditions générales de vente prévalent sur tout autre document, et notamment sur toutes conditions
      générales d'achat. Elles s'appliquent, sans restriction ni réserve, à tous les services rendus par le vendeur
      auprès des acheteurs professionnels.
      Le vendeur et l'acheteur conviennent que les présentes conditions générales régissent exclusivement leur relation.
      Le vendeur se réserve le droit de modifier ponctuellement ses conditions générales. Elles seront applicables dès
      leur mise en ligne.
      Si une condition de vente venait à faire défaut, elle serait considérée être régie par les usages en vigueur dans
      le secteur de la vente à distance dont les sociétés ont siège en France.
      Les présentes conditions générales de vente sont communiquées à tout acheteur qui en fait la demande, afin de lui
      permettre de passer commande.
      Les présentes conditions générales de vente sont applicables jusqu'au 01 janvier 2023.</p>

    <h4>Article 2 - Contenu</h4>

    <p>Les présentes conditions générales ont pour objet de définir les droits et obligations des parties dans le cadre
      de
      la vente en ligne des biens et produits proposés par le vendeur à l'acheteur.
      Les présentes conditions ne concernent que les achats effectués sur ce site internet et livrés exclusivement en
      métropole et en Corse. Pour toute livraison dans les DOM-TOM ou hors de France, il convient de le signaler pour
      obtenir un devis spécifique.</p>

    <h4>Article 3 - La commande</h4>

    <p>L'acheteur passe sa commande en ligne, à partir du catalogue en ligne et au moyen du formulaire qui figure sur le
      site.
      Pour que la commande soit validée, l'acheteur devra accepter, en cliquant à l'endroit indiqué sur le site, les
      présentes conditions générales. Son acceptation entraînera l'envoi d'un mail de confirmation de la part du
      vendeur,
      conformément aux conditions décrites ci-dessous.
      L'acheteur devra choisir l'adresse et le mode de livraison. Le paiement se fait par prélèvement bancaire.
      Toute commande vaut acceptation des prix et descriptions des produits disponibles à la vente. Toute contestation
      sur
      ce point interviendra dans le cadre d'un éventuel échange et des garanties ci-dessous mentionnées.
      Dans certains cas, notamment défaut de paiement, adresse erronée ou autre problème sur le compte de l'acheteur, le
      vendeur se réserve le droit de bloquer la commande de l'acheteur jusqu'à la résolution du problème.
      En cas d'indisponibilité d'un produit commandé, l'acheteur en sera informé par courrier électronique.
      L'annulation de la commande de ce produit et son éventuel remboursement seront alors effectués, le reste de la
      commande demeurant ferme et définitif.
      Pour toute question relative au suivi d'une commande, l'acheteur peut :
      - appeler le numéro suivant : 06 85 48 79 66 (coût d'un appel local), aux jours et horaires suivants : 9h - 17h,
      - envoyer un e-mail à l’adresse suivante : husson.j@yahoo.com.</p>

    <h4>Article 4 - Signature électronique</h4>

    <p>La fourniture en ligne des coordonnées bancaires de l'acheteur et la validation finale de la commande vaudront
      preuve de l'accord de l'acheteur. Cela permettra au vendeur d’obtenir l’exigibilité des sommes dues au titre du
      bon
      de commande et cela vaudra signature et acception expresse de toutes les opérations effectuées.
      En cas d'utilisation frauduleuse des coordonnées bancaires, l'acheteur est invité, dès le constat de cette
      utilisation, à contacter le vendeur en l'appelant au numéro suivant : +33685487966, ou en lui envoyant un e-mail à
      l'adresse suivante : husson.j@yahoo.com.</p>

    <h4>Article 5 - Confirmation de la commande</h4>

    <p>Les informations contractuelles feront l'objet d'une confirmation par voie d'e-mail au plus tard au moment de la
      livraison ou à défaut, à l'adresse indiquée par l'acheteur sur le bon de commande.</p>

    <h4>Article 6 - Preuve de la transaction</h4>

    <p>Les registres informatisés, conservés dans les systèmes informatiques du vendeur dans des conditions raisonnables
      de
      sécurité, seront considérés comme les preuves des communications, des commandes et des paiements intervenus entre
      les parties. L'archivage des bons de commande et des factures est effectué sur un support fiable et durable
      pouvant
      être produit à titre de preuve.</p>

    <h4>Article 7 - Informations sur les produits</h4>

    <p>Les produits régis par les présentes conditions générales sont ceux qui figurent sur le site internet du vendeur
      et
      qui sont indiqués comme vendus et expédiés par le vendeur. Ils sont proposés dans la limite des stocks
      disponibles.
      Les produits sont décrits et présentés avec la plus grande exactitude possible. Toutefois, si des erreurs ou
      omissions ont pu se produire quant à cette présentation, la responsabilité du vendeur ne pourrait être engagée.
      Les photographies des produits ne sont pas contractuelles.</p>

    <h4>Article 8 - Prix</h4>

    <p>Calcul
      Le vendeur se réserve le droit de modifier ses prix à tout moment mais s'engage à appliquer les tarifs en vigueur
      indiqués au moment de la commande, sous réserve de disponibilité à cette date. Les prix sont indiqués en euros.
      Ils
      ne tiennent pas compte des frais de livraison, facturés en supplément, et indiqués avant la validation de la
      commande. Les prix tiennent compte de la TVA applicable au jour de la commande et tout changement du taux
      applicable
      TVA sera automatiquement répercuté sur le prix des produits de la boutique en ligne.
      Le paiement de la totalité du prix doit être réalisé lors de la commande. À aucun moment, les sommes versées ne
      pourront être considérées comme des arrhes ou des acomptes.
      Si une ou plusieurs taxes ou contributions, notamment environnementales, venaient à être créées ou modifiées, en
      hausse comme en baisse, ce changement pourra être répercuté sur le prix de vente des produits.
      Acompte
      Toute commande peut donner lieu au versement d'un acompte, dont les modalités seront fixées au moment de la vente.
      Hors cas de force majeure, toute annulation de la commande par l'acheteur à compter de ne pourra donner lieu au
      remboursement de cet acompte prévu.
      Réduction de prix
      L'acheteur pourra bénéficier des remises et ristournes particulières le cas échéant, selon les conditions
      particulières précisées lors de la commande.</p>

    <h4>Article 9 - Mode de paiement</h4>

    <p>Règlement
      Il s'agit d'une commande avec obligation de paiement, ce qui signifie que la passation de la commande implique un
      règlement de l'acheteur. Le règlement de la commande se fait uniquement par prélèvement sur le compte bancaire de
      l'acheteur. L'acheteur doit rentrer ses coordonnées bancaires à l'endroit prévu et confirmer cette saisie par
      l'ajout de son RIB informatique en pièce jointe du bon de commande. Le vendeur se réserve le droit de suspendre
      toute gestion de commande et toute livraison en cas de refus d'autorisation de paiement de la part des organismes
      officiellement accrédités ou en cas de non-paiement. Le vendeur se réserve notamment le droit de refuser
      d'effectuer
      une livraison ou d'honorer une commande émanant d'un acheteur qui n'aurait pas réglé totalement ou partiellement
      une
      commande précédente ou avec lequel un litige de paiement serait en cours d'administration. Le vendeur a mis en
      place
      une procédure de vérification des commandes destinée à assurer qu'aucune personne n'utilise les coordonnées
      bancaires d'une autre personne à son insu. Dans le cadre de cette vérification, il pourra être demandé à
      l'acheteur
      d'adresser par fax au vendeur une copie d'une pièce d'identité ainsi qu'un justificatif de domicile. La commande
      ne
      sera alors validée qu'après réception et vérification par le vendeur des pièces envoyées.
      Le prix est payable en totalité et en un seul versement à réception de la commande. La date de paiement sera
      mentionnée sur la facture adressée à l'acheteur.
      Retard de paiement
      Tout retard de paiement entraînera l'exigibilité immédiate de la totalité des sommes dues au vendeur par
      l'acheteur,
      sans préjudice de toute autre action que le vendeur serait en droit d'intenter, à ce titre, à l'encontre de
      l'acheteur.</p>

    <h4>Article 10 - Disponibilité des produits</h4>

    <p>Sauf cas de force majeure ou lors des périodes de fermeture clairement annoncées sur la page d'accueil du site,
      les
      délais d'expédition seront, dans la limite des stocks disponibles, ceux indiqués ci-dessous. Les délais
      d'expédition
      courent à compter de la date d'enregistrement de la commande indiquée sur le mail de confirmation de la commande.
      Pour toute livraison en France (métropole et Corse), le délai est de livraison en 24h ou en 72h à compter du jour
      suivant celui où l'acheteur a passé sa commande.
      Pour toute livraison dans les DOM-TOM ou hors de France, il convient de le signaler pour obtenir un devis
      spécifique.
      En cas de retard, la responsabilité du vendeur ne pourra être engagée, et ce, pour quelque cause que ce soit. Par
      conséquent, aucune demande d'indemnisation, de quelque nature que ce soit, ne pourra être réclamée par l'acheteur.
      En cas d'indisponibilité du produit commandé, l'acheteur en sera informé au plus tôt et aura la possibilité
      d'annuler sa commande. L'acheteur aura alors le choix de demander soit le remboursement des sommes versées dans
      les
      30 jours au plus tard de leur versement, soit l'échange du produit.</p>

    <h4>Article 11 - Modalités de livraison</h4>

    <p>La livraison n'est faite qu'après confirmation du paiement par l'organisme bancaire du vendeur.
      Elle est fournie dans le délai précisé à l’article 10, à compter de la réception par le vendeur du bon de
      commande.
      Tout retard supérieur de 1 mois pourra entraîner la résolution de la vente. Les acomptes versés ou le règlement
      effectué à la commande seront alors restitués à l'acheteur. Le règlement effectué à la commande sera alors
      restitué
      à l'acheteur.
      En cas de non-respect des conditions de paiement figurant ci-dessus, le vendeur pourra suspendre ou annuler la
      vente.
      Les produits sont livrés à l'adresse indiquée par l'acheteur sur le bon de commande, l'acheteur devra veiller à
      son
      exactitude. Tout colis renvoyé au vendeur à cause d'une adresse de livraison erronée ou incomplète sera réexpédié
      aux frais de l'acheteur. L'acheteur peut, à sa demande, obtenir l'envoi d'une facture à l'adresse de facturation
      et
      non à l'adresse de livraison, en validant l'option prévue à cet effet sur le bon de commande.
      Si l'acheteur est absent le jour de la livraison, le livreur laissera un avis de passage dans la boîte aux
      lettres,
      qui permettra de retirer le colis à l'endroit et pendant le délai indiqué.
      Si au moment de la livraison, l'emballage d'origine est abîmé, déchiré, ouvert, l'acheteur doit alors vérifier
      l'état des articles. S'ils ont été endommagés, l'acheteur doit impérativement refuser le colis et noter une
      réserve
      sur le bordereau de livraison (colis refusé car ouvert ou endommagé).
      L'acheteur doit indiquer sur le bon de livraison et sous forme de réserves manuscrites accompagnées de sa
      signature
      toute anomalie concernant la livraison (avarie, produit manquant par rapport au bon de livraison, colis endommagé,
      produits cassés...).
      Cette vérification est considérée comme effectuée dès lors que l'acheteur, ou une personne autorisée par lui, a
      signé le bon de livraison.
      L'acheteur devra alors confirmer par courrier recommandé ces réserves au transporteur au plus tard dans les deux
      jours ouvrables suivant la réception du ou des article(s) et transmettre une copie de ce courrier par fax ou
      simple
      courrier au vendeur à l'adresse indiquée dans les mentions légales du site.
      Si les produits nécessitent d'être renvoyés au vendeur, ils doivent faire l'objet d'une demande de retour auprès
      du
      vendeur dans les 14 jours ouvrables suivant la livraison. Toute réclamation formulée hors de ce délai ne pourra
      être
      acceptée. Le retour du produit ne pourra être accepté que pour les produits dans leur état d'origine (emballage,
      accessoires, notice...).</p>

    <h4>Article 12 - Erreurs de livraison</h4>

    <p>L'acheteur devra formuler auprès du vendeur le jour même de la livraison ou au plus tard le premier jour ouvré
      suivant la livraison, toute réclamation d'erreur de livraison et/ou de non-conformité des produits en nature ou en
      qualité par rapport aux indications figurant sur le bon de commande. Toute réclamation formulée au-delà de ce
      délai
      sera rejetée.
      La réclamation pourra être faite, au choix de l'acheteur :
      - en contactant le vendeur au numéro de téléphone suivant : 06 85 48 79 66 ;
      - en utilisant l'adresse électronique suivante : husson.j@yahoo.com.
      Toute réclamation non effectuée dans les règles définies ci-dessus et dans les délais impartis ne pourra être
      prise
      en compte et dégagera le vendeur de toute responsabilité vis-à-vis de l'acheteur.
      À réception de la réclamation, le vendeur attribuera un numéro d'échange du ou des produit(s) concerné(s) et le
      communiquera par e-mail à l'acheteur. L'échange d'un produit ne peut avoir lieu qu'après l'attribution du numéro
      d'échange.
      En cas d'erreur de livraison ou d'échange, tout produit à échanger ou à rembourser devra être retourné au vendeur
      dans son ensemble et dans son emballage d'origine, en Colissimo Recommandé, à l'adresse suivante : 8, Place
      François
      II, 44200 Nantes.
      Les frais de retour sont à la charge du vendeur.</p>

    <h4>Article 13 - Garantie des produits</h4>

    <p>Le vendeur garantit l'acheteur contre tout défaut de conformité des services et tout vice caché, provenant d'un
      défaut de conception ou de fourniture desdits services à l'exclusion de toute négligence ou faute de l'acheteur.
      En tout état de cause, au cas où la responsabilité du vendeur serait retenue, la garantie du vendeur serait
      limitée
      au montant HT payé par l'acheteur pour l'achat du bien.</p>

    <h4>Article 14 - Droit de rétractation</h4>

    <p>L'acheteur étant un professionnel achetant dans le cadre et pour les besoins de sa profession, il n'y a pas lieu
      d'appliquer le droit de rétractation prévu par le code de la consommation.</p>

    <h4>Article 15 - Force majeure</h4>

    <p>Toutes circonstances indépendantes de la volonté des parties, empêchant l'exécution dans des conditions normales
      de
      leurs obligations, sont considérées comme des causes d'exonération des obligations des parties et entraînent leur
      suspension.
      La partie qui invoque les circonstances visées ci-dessus doit avertir immédiatement l'autre partie de leur
      survenance, ainsi que de leur disparition.
      Seront considérés comme cas de force majeure tous faits ou circonstances irrésistibles, extérieurs aux parties,
      imprévisibles, inévitables, indépendants de la volonté des parties et qui ne pourront être empêchés par ces
      dernières, malgré tous les efforts raisonnablement possibles. De façon expresse, sont considérés comme cas de
      force
      majeure ou cas fortuits, outre ceux habituellement retenus par la jurisprudence des cours et des tribunaux
      français
      : le blocage des moyens de transports ou d'approvisionnements, tremblements de terre, incendies, tempêtes,
      inondations, foudre, l'arrêt des réseaux de télécommunication ou difficultés propres aux réseaux de
      télécommunication externes aux clients.
      Les parties se rapprocheront pour examiner l'incidence de l'événement et convenir des conditions dans lesquelles
      l'exécution du contrat sera poursuivie. Si le cas de force majeure a une durée supérieure à trois mois, les
      présentes conditions générales pourront être résiliées par la partie lésée.</p>

    <h4>Article 16 - Non-validation partielle</h4>

    <p>Si une ou plusieurs clauses des présentes conditions générales sont tenues pour non valides ou déclarées telles
      en
      application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les
      autres clauses garderont toute leur force et leur portée.</p>

    <h4>Article 17 - Non-renonciation</h4>

    <p>Le fait pour l'une des parties de ne pas se prévaloir d'un manquement par l'autre partie à l'une quelconque des
      obligations visées dans les présentes conditions générales ne saurait être interprété pour l'avenir comme une
      renonciation à l'obligation en cause.</p>

    <h4>Article 18 - Loi applicable</h4>

    <p>Les présentes conditions générales sont soumises à l'application du droit français.
      Les parties s'engagent à rechercher une solution amiable à tout différend qui pourrait naître de l'interprétation
      ou
      de l'exécution du Contrat.
      Si elles n'y parviennent pas, les parties soumettront le litige au tribunal de Commerce.</p>

    <h4>Article 19- Collecte des données personnelles</h4>

    <p>Données collectées:<br>
      Les données à caractère personnel qui sont collectées sur ce site sont les suivantes :
      Ouverture de compte: lors de la création du compte de l'utilisateur, ses nom, prénom, adresse électronique; n° de
      téléphone; adresse postale; ;
      Connexion : lors de la connexion de l'utilisateur au site web, celui-ci enregistre, notamment, ses nom, prénom,
      données de connexion, d'utilisation, de localisation et ses données relatives au paiement.
      Profil: l'utilisation des prestations prévues sur le site web permet de renseigner un profil, pouvant comprendre
      une
      adresse et un numéro de téléphone.<br><br>
      Paiement: dans le cadre du paiement des produits et prestations proposés sur le site web, celui-ci enregistre des
      données financières relatives au compte bancaire ou à la carte de crédit de l'utilisateur.
      Communication: lorsque le site web est utilisé pour communiquer avec d'autres membres, les données concernant les
      communications de l'utilisateur font l'objet d'une conservation temporaire.
      Cookies : les cookies sont utilisés, dans le cadre de l'utilisation du site. L'utilisateur a la possibilité de
      désactiver les cookies à partir des paramètres de son navigateur.<br>
      Utilisation des données personnelles
      Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des services
      du
      site web, leur amélioration et le maintien d'un environnement sécurisé. Plus précisément, les utilisations sont
      les
      suivantes :
      - accès et utilisation du site web par l'utilisateur ;<br>
      - gestion du fonctionnement et optimisation du site web ;<br>
      - organisation des conditions d'utilisation des Services de paiement ;<br>
      - vérification, identification et authentification des données transmises par l'utilisateur ;<br>
      - proposition à l'utilisateur de la possibilité de communiquer avec d'autres utilisateurs du site web ;<br>
      - mise en oeuvre d'une assistance utilisateurs ;<br>
      - personnalisation des services en affichant des publicités en fonction de l'historique de navigation de
      l'utilisateur, selon ses préférences ;
      - prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et gestion des
      incidents de sécurité ;<br>
      - gestion des éventuels litiges avec les utilisateurs ;<br>
      - envoi d'informations commerciales et publicitaires, en fonction des préférences de l'utilisateur.<br>
      Partage des données personnelles avec des tiers
      Les données personnelles peuvent être partagées avec des sociétés tierces, dans les cas suivants :
      - quand l'utilisateur utilise les services de paiement, pour la mise en oeuvre de ces services, le site web est
      en
      relation avec des sociétés bancaires et financières tierces avec lesquelles elle a passé des contrats ;<br>
      - lorsque l'utilisateur publie, dans les zones de commentaires libres du site web, des informations accessibles
      au
      public ;<br>
      - quand l'utilisateur autorise le site web d'un tiers à accéder à ses données ;<br>
      - quand le site web recourt aux services de prestataires pour fournir l'assistance utilisateurs, la publicité et
      les services de paiement. Ces prestataires disposent d'un accès limité aux données de l'utilisateur, dans le cadre
      de l'exécution de ces prestations, et ont une obligation contractuelle de les utiliser en conformité avec les
      dispositions de la réglementation applicable en matière protection des données à caractère personnel ;<br>
      - si la loi l'exige, le site web peut effectuer la transmission de données pour donner suite aux réclamations
      présentées contre le site web et se conformer aux procédures administratives et judiciaires ;<br>
      - si le site web est impliquée dans une opération de fusion, acquisition, cession d'actifs ou procédure de
      redressement judiciaire, elle pourra être amenée à céder ou partager tout ou partie de ses actifs, y compris les
      données à caractère personnel. Dans ce cas, les utilisateurs seraient informés, avant que les données à caractère
      personnel ne soient transférées à une tierce partie.<br><br>
      Sécurité et confidentialité<br>
      Le site web met en oeuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de
      sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et accès non
      autorisés. Toutefois, il est à signaler qu'internet n'est pas un environnement complètement sécurisé et le site
      web ne peut pas garantir la sécurité de la transmission ou du stockage des informations sur internet.<br><br>
      Mise en oeuvre des droits des utilisateurs<br>
      En application de la réglementation applicable aux données à caractère personnel, les utilisateurs disposent des
      droits suivants, qu'ils peuvent faire valoir à l'adresse suivante husson.j@yahoo.com :
      - ils peuvent mettre à jour ou supprimer les données qui les concernent en se connectant à leur compte et en
      configurant les paramètres de ce compte ;<br>
      - ils peuvent supprimer leur compte, en écrivant à l'adresse électronique suivante husson.j@yahoo.com. Il est à
      noter que les informations partagées avec d'autres utilisateurs, comme les publications sur les forums, peuvent
      rester visibles du public sur le site web, même après la suppression de leur compte ;<br>
      - ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les concernant, en écrivant à
      l'adresse électronique suivante : husson.j@yahoo.com. Dans ce cas, avant la mise en oeuvre de ce droit, le site
      web peut demander une preuve de l'identité de l'utilisateur afin d'en vérifier l'exactitude ;<br>
      - si les données à caractère personnel détenues par le site web sont inexactes, ils peuvent demander la mise à
      jour
      des informations, en écrivant à l'adresse électronique suivante : husson.j@yahoo.com ;<br>
      - les utilisateurs peuvent demander la suppression de leurs données à caractère personnel, conformément aux lois
      applicables en matière de protection des données, en écrivant à l'adresse électronique
      suivante : husson.j@yahoo.com.<br><br>
      Evolution de la présente clause<br>
      Le site web se réserve le droit d'apporter toute modification à la présente clause relative à la protection des
      données à caractère personnel à tout moment. Si une modification est apportée à la présente clause de protection
      des
      données à caractère personnel, le site web s'engage à publier la nouvelle version sur son site. Le site
      web informera également les utilisateurs de la modification par messagerie électronique, dans un délai minimum de
      15 jours avant la date d'effet. Si l'utilisateur n'est pas d'accord avec les termes de la nouvelle rédaction de la
      clause de protection des données à caractère personnel, il a la possibilité de supprimer son compte.</p>

  </div>
</section>