$primary-theme: #00bdbd;
$primary-theme-dark: #005463;

$secondary-theme: #0DBDC0;

$primary-text: #6C828C;
$secondary-text: #E2E8EB;

$delete-color: #d42637;
$delete-color-hover: #b31f2d;
$edit-color: #ffd207;
$edit-color-hover: #e0b700;