<section class="mt-4 product-detail">
  <div *ngIf="isLoading" class="isloading text-center mt-4">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="container pt-2" *ngIf="!isLoading && product">
    <div class="row">
      <div class="carrousel col-12 col-md-6">
        <app-carousel [images]="product.images"></app-carousel>
      </div>
      <div class="info col-12 col-md-6">
        <h2>{{product.title}}</h2>
        <div class="price d-block">
          <p>{{product.price}}€</p><span>l'unité</span>
        </div>
        <div class="description mt-3" id="description-desktop">
          <p>{{product.description}}</p>
        </div>
        <div class="quantity mb-3">
          <label class="mt-2" for="quantity">Quantité</label>
          <input type="number" id="quantity" name="quantity" min="1" [max]="product.quantity" [(ngModel)]="quantity">
          <span *ngIf="50 > product.quantity || product.quantity == 50">Il reste
            {{product.quantity <= 1 ? product.quantity + ' unité' : product.quantity + ' unités'}}</span>
        </div>
        <div class="buttons mb-4">
          <button class="w-100 btn principal cart mb-1" id="button" (click)="addToCart(quantity)"
            [ngClass]="{'button-shop-disabled' : product.user._id === id}"
            [disabled]="product.user._id === id || product.quantity === 0"><i
              class="fas fa-shopping-cart mr-1"></i>Ajouter au
            panier</button>
          <div class="d-flex justify-content-between">
            <button class="btn dark" id="button2"><i class="fas fa-share mr-1"></i>Partager</button>
            <button class="btn dark" id="button2" (click)="addToWishlist()"
              [ngClass]="{'button-wish-disabled' : product.user._id === id}"
              [disabled]="product.user._id === id || product.quantity === 0"><i class="fas fa-heart mr-1"></i>Ajouter
              aux
              favoris</button>
          </div>
        </div>
        <div class="description" id="description-mobile">
          <p>{{product.description}}</p>
          <p class="p-date">Produit publié le {{product.createdAt | date : 'dd/MM/yyyy'}}</p>
          <p class="p-date" *ngIf="product.updatedAt"> | Modifié le
            {{product.updatedAt | date : 'dd/MM/yyyy'}}</p>
          <hr>
        </div>
        <div [routerLink]="['/compte',product.user._id]" class="user d-flex justify-content-start"
          [ngClass]="{ 'mb-0': product.user.products.length === 0 }">
          <img class="user-image" [src]="product.user.logo">
          <div class="info">
            <h3>{{product.user.name | titlecase}}</h3>
            <p *ngIf="product.user.products.length === 0">1 produit - Depuis {{product.user.createdAt | date : 'yyyy'}}
              <p *ngIf="product.user.products.length > 0">{{product.user.products.length + 1}} produits - Depuis
                {{product.user.createdAt | date : 'yyyy'}}
              </p>
          </div>
        </div>
      </div>
      <div class="date-product desktop-date col-12 mt-2">
        <div class="createdAt my-2">
          <p>Produit publié le {{product.createdAt | date : 'dd/MM/yyyy'}}</p>
          <p *ngIf="product.updatedAt"> | Modifié le
            {{product.updatedAt | date : 'dd/MM/yyyy'}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="product.user.products.length > 0">
      <h4 class="mb-3">Autres produits de {{product.user.name}}</h4>
      <div class="products">
        <br>
        <a (click)="changeProduct(product._id)" id="card-href"
          *ngFor="let product of product.user.products; let i = index">
          <div *ngIf="i < maxProducts">
            <div class="card-div">
              <div class="card-box">
                <img id="card-img" [src]="product.images[0]" alt="Card image cap">
                <div class="card-body">
                  <div class="alert-stock" *ngIf="50 > product.quantity || product.quantity == 50">Dernières unités
                  </div>
                  <h5 class="card-title">{{product.title}}</h5>
                  <p class="card-price">{{product.price}}€</p>
                  <p class="card-text">{{product.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>