@media screen and (min-width: 960px) {
  #label {
    font-size: 14px !important;
    padding: 8px 12px;
  }
}

.col.postal-code {
  small {
    width: 96%;
    margin-left: auto;
    padding-top: 11px;
  }
}

.content-table {
  padding: 16px 10px 10px 10px !important;
}

.btn.principal {
  margin-top: 20px;
}