<div class="container mt-4">
  <form id="search">
    <div class="form-group mb-2">
      <select (change)="changeCategorie(selectField.value);" #selectField id="input" class="form-control mr-2">
        <option value="">Catégories</option>
        <option *ngFor="let categorie of categoriesArray" value="{{categorie.value}}">
          {{categorie.nom | titlecase}}</option>
      </select>
    </div>
    <div class="d-flex">
      <input id="input" type="text" class="form-control" #searchBarInput placeholder="Rechercher...">
      <button id="button" class="btn dark" (click)="searchBy(searchBarInput.value)">Chercher</button>
    </div>
  </form>
</div>
