<section class="inscription modal-style">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 modal-container">
        <div *ngIf="isLoading" class="isloading text-center mt-4">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <form *ngIf="!isLoading" [formGroup]="conexionForm" (ngSubmit)="onSubmit(conexionForm)">
          <div class="text-right mt-3 modal-x">
            <img (click)="close()" src="assets/images/close.png" width="20px" alt="Logo Okastock">
          </div>
          <div class="modal-out">
            <p>Pas de compte ? </p><a class="font-weight-normal" (click)="switchToInscription()">Inscrivez-vous</a>
          </div>
          <hr>
          <h2>Se connecter</h2>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && !conexionForm.controls.email.valid }">
            <small
              *ngIf="conexionForm.controls.email.touched === true && conexionForm.controls.email.value == '' && submitted"
              id="form-help" class="form-text text-muted email-invalid">Veuillez indiquer une adresse mail.</small>
            <small
              *ngIf="conexionForm.controls.email.touched === true && conexionForm.controls.email.value !== '' && !conexionForm.controls.email.valid && submitted"
              id="form-help" class="form-text text-muted email-invalid">Veuillez indiquer une adresse mail
              valide.</small>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Mot de passe"
              formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && !conexionForm.controls.password.valid }">
            <small *ngIf="conexionForm.controls.password.value === '' && submitted" id="form-help"
              class="form-text text-muted password-invalid">Veuillez introduire un mot de passe.</small>
            <small *ngIf="errorResponse.display" id="form-help"
              class="form-text text-muted text-center mt-4 credentials-invalid">{{ errorResponse.message }}</small>
          </div>
          <div class="text-center mt-4">
            <button type="submit" class="btn principal">Se connecter</button>
          </div>
          <div class="text-center mt-4">
            <a class="blue" (click)="contact()">Mot de passe oublié ?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>