<section class="footer">
  <hr>
  <div class="container end mt-5">
    <div class="row">
      <div class="col-md-3 col-xs-12 badges">
        <p>Obtenir l'application</p>
        <img class="w-50 mt-2 mb-3" src="../../../assets/images/google-badge.png">
        <br>
        <img class="w-50" src="../../../assets/images/apple-badge.png">
      </div>
      <div class="col-md-3 col-xs-12">
        <p>Réseaux sociaux</p>
        <li><a href="https://www.linkedin.com/in/julian-husson-692067152/">Linkedin</a></li>
        <li><a href="https://github.com/julianh1805">GitHub</a></li>
        <li><a href="https://www.facebook.com/julianh1805/">Facebook</a></li>
      </div>
      <div class="col-md-3 col-xs-12">
        <p>A propos</p>
        <li><a routerLink="/contact">Nous contacter</a></li>
        <li><a routerLink="/a-propos/qui-sommes-nous">Qui sommes-nous ?</a></li>
        <li><a routerLink="/a-propos/condition-generales-de-vente">Condition générales de vente</a></li>
        <li><a routerLink="/a-propos/mentions-legales">Mentions légales</a></li>
      </div>
      <div class="col-md-3 col-xs-12 logo">
        <img class="mb-4" src="../../../assets/images/logo-lg.png">
        <p class="text-a">Okastock © 2020</p>
        <p class="text-a">Version 1.0.4</p>
      </div>
    </div>
  </div>
</section>