<section class="banniere">
<div class="container-fluid app-banniere mt-4">
    <div class="container app">
      <div class="row">
        <div class="col-6">
          <img class="float-right mockup" src="../../../assets/images/iphone-mockup.png">
        </div>
        <div class="col-6 app">
          <h3>Téléchargez l’application</h3>
          <p class="my-4">Lorem ipsum ilou peorde polis lorem ipsum ilou peorde polis orem ipsum ilou peorde polis orem
            ipsum ilou peorde polis orem ipsum ilou peorde polis</p>
          <div class="app-badges">
            <img class="mr-2" src="../../../assets/images/google-badge.png">
            <img src="../../../assets/images/apple-badge.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>