.container-fluid {
    background: transparent linear-gradient(90deg, #00bdbd 67%, #0C6C78 95%, #005463 100%) 0% 0% no-repeat padding-box;
    margin-bottom: -16px;
    .container {

      .mockup {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 10% !important;
        width: 50%;
      }

      h3 {
        color: white;
        font-size: 26px;
        font-weight: 400;
      }

      p {
        color: white;
        font-size: 14px;
      }

      .app {
        padding: 40px 0;
        max-width: 49% !important;

        .app-badges {

          img {
            width: 96px;
          }
        }
      }
    }
  }