<section class="password">
    <div class="container">
        <div class="row my-4">
            <div class="col-8 text-center mx-auto">
                <h4 class="mb-3">Vous avez oublié votre mot de passe ? Pas de souci !</h4>
                <p>Actuellement, le service pour récupérer
                    votre
                    mot de passe est indisponible. Pour récupérer votre mot de passe, envoyez un email à
                    <b>husson.j@yahoo.com</b> ou <b>contactez-nous directement depuis la page contact</b>. N'oubliez pas
                    de nous transmettre toutes les informations qui nos permettrons de trouver votre compte <b>(nom de
                        l'entreprise, email, produits...)</b>. <br><br>Merci de votre compréhension !</p>
                <div class="text-center mt-3">
                    <button type="submit" class="btn principal" routerLink="/contact">Nous contacter</button>
                </div>
            </div>
        </div>
    </div>
</section>