h2 {
  font-size: 28px !important;
}

h3 {
  font-size: 24px !important;
  margin: 20px 0px 10px 0px !important
}

h4 {
  font-size: 20px !important;
  margin-top: 10px !important;
  margin: 20px 0px 10px 0px !important
}

p.article {
  margin-bottom: 0px;
}

a {
  color: #005463
}